<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>Web Workers basic example</title>

    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="style.css">
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body ng-app="app">
    <div ng-controller="FirstCtrl as first" id="test" class="col-sm-4">
        <!-- <h1>Web<br>Workers<br>basic<br>example</h1> -->
        <div class="controls" tabindex="0">
            <form>
                <div>
                    <label for="number1">Multiply number 1: </label>
                    <input type="text" id="number1" value="0">
                </div>
                <div>
                    <label for="number2">Multiply number 2: </label>
                    <input type="text" id="number2" value="0">
                </div>
                <div>
                    <button ng-click="first.submit()" ng-disabled="first.submitted" ng-class="{submitted: first.submitted}">
                        <span>Submit</span>
                    </button>
                    <span ng-show="first.submitted"><i class="fa fa-spinner fa-spin" style="font-size:30px;color:blue;"></i></span>
                </div>
            </form>

            <p class="result">Result: 0</p>
        </div>
    </div>

    <div ng-controller="MainCtrl as main" class="col-sm-4" ng-cloak>
        <div class="mainControls">
            <span style="font-size:3vw;color:red;" ng-bind="main.finalResult"></span>
        </div>
    </div>

    <div ng-controller="SecondCtrl as second" class="col-sm-4">
        <div class="controls" tabindex="0">

            <form>
                <div>
                    <label for="number1">Multiply number 1: </label>
                    <input type="text" id="number1" value="0">
                </div>
                <div>
                    <label for="number2">Multiply number 2: </label>
                    <input type="text" id="number2" value="0">
                </div>
                <div>
                    <button ng-click="second.submit()" ng-disabled="second.submitted" ng-class="{submitted: second.submitted}">Submit</button>
                    <span ng-show="second.submitted"><i class="fa fa-spinner fa-spin" style="font-size:30px;color:blue;"></i></span>
                </div>
            </form>

            <p class="result">Result: 0</p>
        </div>

    </div>

    <div ng-controller="NonWorkerCtrl as nonWorker">
        <button ng-click="nonWorker.doQuery()">
            <span>NonWorker Query</span>
        </button>
    </div>

    <div ng-controller="WorkerCtrl as worker">
        <button ng-click="worker.doQuery()">
            <span>Worker Query</span>
        </button>
    </div>

</body>
<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="main.js"></script>

</html>
